nav ul a, nav .brand-logo {
  color: #444; }

p {
  line-height: 2rem; }

.button-collapse {
  color: #26a69a; }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9); }
  .parallax-container .section {
    width: 100%; }

nav ul li a {
  color: #000; }
nav #logo-container {
  color: #000; }

.icon-block {
  padding: 0 15px; }
  .icon-block .material-icons {
    font-size: inherit; }

footer.page-footer {
  margin: 0; }

/*# sourceMappingURL=style.css.map */
