$black: #000

nav ul a, nav .brand-logo
  color: #444

p
  line-height: 2rem

.button-collapse
  color: #26a69a

.parallax-container
  min-height: 380px
  line-height: 0
  height: auto
  color: rgba(255, 255, 255, .9)
  .section
    width: 100%

nav
  ul li a
    color: $black
  #logo-container
    color: $black

.icon-block
  padding: 0 15px
  .material-icons
    font-size: inherit

footer.page-footer
  margin: 0

